@use '../base/variables' as v;

.boton-azul, .boton-blanco-svg {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5rem;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 .5rem .5rem v.$grisSombra;
    transition: all .2s ease-in-out;
}

.boton-azul {
    background-color: v.$azul;
    color: v.$blanco;
    padding: 2rem 4rem;
}

.boton-blanco-svg {
    align-items: center;
    gap: 1rem;
    background-color: v.$blanco;
    color: v.$azulOscuro;
    padding: 1.7rem 2.7rem;

    svg {
        display: inline-block;
        width: 3rem;
    }
}

.boton-blanco-svg:hover {
    background-color: v.$gris;
    color: v.$negro;
}

.boton-azul:hover {
    background-color: v.$azulOscuro;
}