@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    box-shadow: 0 .5rem .7rem v.$grisSombra;
    padding: 2rem; 
    background-color: v.$blanco;

    @include m.tablet {
        padding: 0;
    }

    &-imagen {
        height: 11.4rem;
        width: auto;
        padding: 2rem;
    }

    &-botones {
        @include m.tablet {
            display: flex;
            margin: 3rem;
            align-items: center;
            gap: 2rem;
        }
    }

    &-boton-registro {
        margin-bottom: 2rem;
        @include m.tablet {
            margin: 0;
        }
    }
}


.contenido-header {
    @include m.tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}