@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    box-shadow: 0 .5rem .7rem rgba(0, 0, 0, 0.2);
    padding: 2rem; 

    @include m.tablet {
        padding: 0;
    }

    &-imagen {
        height: 11.4rem;
        width: auto;
        padding: 2rem;
    }

    &-botones {
        @include m.tablet {
            display: flex;
            margin: 3rem;
            align-items: center;
            gap: 2rem;
        }
    }

    &-boton-registro, &-boton-tablero {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 5rem;
        cursor: pointer;
        text-decoration: none;
    }

    &-boton-tablero {
        background-color: v.$azul;
        color: v.$blanco;
        padding: 2rem 4rem;
    }

    &-boton-registro {
        align-items: center;
        gap: 1.8rem;
        background-color: v.$blanco;
        color: v.$azulOscuro;
        padding: 1.7rem 2.7rem;
        box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.8);
        margin-bottom: 2rem;
        @include m.tablet {
            margin: 0;
        }
    }

    &-boton-registro img{
        display: inline-block;
        width: 3rem;
    }
}

.contenido-header {
    @include m.tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}