@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    box-shadow: 0 .5rem .7rem rgba(0, 0, 0, 0.2); 

    &-imagen {
        height: 11.4rem;
        width: auto;
        padding: 2rem;
    }

    &-botones {
        display: flex;
        margin: 3rem;
        align-items: center;
        gap: 2rem;
    }

    &-boton-registro, &-boton-tablero {
        font-size: 2rem;
        font-weight: 700;
        border-radius: 5rem;
        cursor: pointer;
        text-decoration: none;
    }

    &-boton-tablero {
        background-color: v.$azul;
        color: v.$blanco;
        padding: 2rem 4rem;
    }

    &-boton-registro {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.8rem;
        background-color: v.$blanco;
        padding: 1.7rem 4.2rem;
        box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.8); 
 
    }

    &-boton-registro img{
        display: inline-block;
        width: 3rem;
    }
}

.contenido-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}